/*------------General-------------*/
html {

    scroll-behavior: smooth;
}

body {
    margin: 2% 20%;
    padding: 0;
    background: #0f162b;
    font-family: "Lato", serif;
}

footer {
    text-align: right;
}

section {
    margin: 5% 0;
}

h1, h2, h3, h4 {
    color: white;
    margin: 2% 0;
    padding: 0;
}

p {
    color: #a2a8b0;
    margin: 2% 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
}

.Intro span {
    display: inline-block;
    cursor: default;
    animation: none;
    transition: color 0.3s ease;
}

.Intro span:hover {
    animation: hover-bounce 0.7s ease forwards;
    color: #6366f1;
}

@keyframes hover-bounce {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-10%) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.PurpleDot {
    color: #6366f1;
}

/*-- Skill bottom margin gets  ignored due to the margin of TagGrid--*/
#Skills {
    padding-bottom: 4%;
}

/*----------IconStyle-------------*/
.IconStyle_1 {
    color: #6366f1;
    margin: 10% 0 5% 0;
}

.IconStyle_2_1 {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 6%;
    margin: 10% 0;
}

.IconStyle_2_2 {
    display: inline-block;
    color: #6366f1;
    width: 6%;
    height: 6%;
    padding: 6%;
    border-radius: 8%;
    text-align: center;
    background: #131b35;
    box-shadow: 0 3px 7px 0 rgba(86, 86, 86, 0.4);
}

/*----SocialMediaBottomStyle------*/
.SocialMediaButton a {
    text-decoration: none;
}

.SocialMediaButton i {
    font-size: 170%;
}

.SocialMediaButton button {
    padding: 0 3% 0 0;
    background: none;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.SocialMediaButton button:hover {
    color: #6366f1;
    transform: scale(1.3);
}

/*------------NavBar--------------*/
.NavbarGrid {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.NavButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20%;
}

.NavButton button {
    background: none;
    border: none;
    color: #a2a8b0;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.NavButton button:hover {
    color: #6366f1;
    transform: scale(1.12);
}

/*------------ProfilePic----------*/
.ProfilePic {
    position: relative;
    width: 100px; /* Set your desired size */
    height: 100px; /* or auto if you want proportional height */
    overflow: hidden;
}

.ProfilePic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* keep aspect ratio by cropping or adjust */
    object-fit: cover; /* cover or contain depending on your needs */
    transition: opacity 0.5s ease;
}

.DefaultPic {
    opacity: 1;
    z-index: 1;
}

.HoveredPic {
    opacity: 0;
    z-index: 2;
    border-radius: 50%;
}

.ProfilePic:hover .HoveredPic {
    opacity: 1;
}

.ProfilePic:hover .DefaultPic {
    opacity: 0;
}

/*------------Home----------------*/

#HomeGrid {
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-top:20%;
  }

#Home h1 {
    font-size: 300%;
}

.GetInTouch button {
    width: 20%;
    padding: 1em 2em;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin: 2% 0 10% 0;
    transition: transform 0.5s ease;
}

.GetInTouch button:hover {
    background: #6a91bd;
    transform: scale(1.01);
}

/*------------Skills--------------*/

#Skills {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3%;
}

.TagGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    row-gap: 1.5em;
    margin: 4% 0;
}
.HashTag {
    text-align: center;
    font-size: 75%;
    color: #a2a8b0;
    background: #21293B;
    border-radius: 8em;
    padding: 0.5em 1em;
}

#SkillDetails {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

/*------------Portfolio-----------*/

.Portfolio {
    display: grid;
    grid-template-columns: 5fr 4fr;
    padding: 5%;
    margin: 2% 0;
    border-radius: 1em;
    background: #131b35;
    box-shadow: 0 2px 5px 0 rgba(86, 86, 86, 0.4);
}

.Portfolio img {
    width: 100%;
    border-radius: 1em;
    margin: 0 0 0 20px;
    transition: transform 0.9s ease;
}

.Portfolio img:hover {
    transform: scale(1.02);
}

.Portfolio button i {
    font-size: 130%;
}

.Portfolio button {
    background: none;
    border: none;
    color: #a2a8b0;
    cursor: pointer;
}

.Portfolio button:hover {
    color: #6366f1;
}

.Tittle_GithubLink {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-bottom: 1em;
}

/*------------Contact-------------*/

#ContactMain {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 5%;
}

form {
    width: 100%;
    box-sizing: border-box;
}

form label, input, textarea {
    display: block;
    margin-bottom: 1em;
    color: #a2a8b0;
}

form input, textarea {
    width: 100%;
    padding: 1em;
    border: none;
    background: #21293B;
    border-radius: 1em;
    box-sizing: border-box;
}

form textarea {
    height: 12em;
    resize: none;
}

form button {
    width: 40%;
    padding: 1em 1em;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

form button:hover {
    background: #6a91bd;
}
/*--------Responsive Design-------*/
@media (max-width: 600px) {
    body {
        margin: 2% 10%;
    }
    h1, h2, h3, h4 {
        color: white;
        font-size: 80%;
        margin: 1% 0;
        padding: 0;
    }
    p {
        margin: 5% 0;
        padding: 0;
        text-align: justify;
        text-justify: inter-word;
    }
    footer {
        font-size: 70%;
        text-align: right;
        margin-top: 25%;
    }
    section {
        margin: 5% 0;
    }
    .Intro {
        font-size: 200%;
    }
    .NavbarGrid {
        grid-template-columns: 1fr;
    }
    .NavButton {
        gap: 2%;
    }
    #HomeGrid {
        grid-template-columns: 1fr;
        margin-top:10%;
        gap: 10%;
    }
    #Home h1 {
        font-size: 150%;
    }
    .ProfilePic {
        display: none;
    }
    .Portfolio img {
        margin: 0;
    }
    .GetInTouch button {
        width: 60%;
        margin: 2% 0 0 0;
    }
    .GetInTouch button:hover {
        background: #6a91bd;
        transform: scale(1.01);
    }
    #Skills {
        grid-template-columns: 1fr;
    }
    .HashTag {
        font-size: 50%;
    }
    .Portfolio {
        grid-template-columns: 1fr;
        margin: 5% 0;
    }
    #ContactMain {
        display: grid;
        grid-template-columns: 1fr;
    }
    form button {
        width: 60%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {

}

@media (min-width: 901px) {

}
/*------------Font----------------*/
.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
}
