/*------------General-------------*/
html, body {
    height: 100%;
}

body {
    padding: 0;
    background: white;
    font-family: "Lato", serif;

    display: flex;           
    flex-direction: column;              
}

footer {
    margin-top: auto;                
    display: flex;
    padding-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

section {
    margin-top: 5%;
}

h1, h2, h3, h4 {
    margin: 2% 0;
    padding: 0;
}
h1, h3{
    font-family: "Playfair Display", serif;
}

p, ul {
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Intro span {
    display: inline-block;
    cursor: default;
    animation: none;
}

.Intro span:hover {
    animation: hover-bounce 0.7s ease forwards;
}

@keyframes hover-bounce {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-10%) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

a:visited {
    color: black;          /* after clicking */
}

/*------------NavBar--------------*/
.NavbarGrid {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 2% 20%;
}
.NavButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}

.NavButton button {
    font-family: "Playfair Display", serif;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.NavButton button:hover {
    color: #3c3c3c;
    transform: scale(1.12);
}

.HomeNav {
    font-family: "Playfair Display", serif;
    color: black;
    font-weight: bold;
    font-size: 120%;
    background: none;
    border: none;
    
}

.menu-toggle {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}

/*----------IconStyle-------------*/
.IconStyle_1 {
    margin: 0 0 5% 0;
}

.IconStyle_2_1 {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 6%;
    margin: 10% 0;
}

.IconStyle_2_1 p {
    text-align: left;
}

.IconStyle_2_2 {
    display: inline-block;
    color: #3c3c3c;
    width: 6%;
    height: 6%;
    padding: 6%;
    border-radius: 8%;
    text-align: center;
    color: #3c3c3c;
    box-shadow: 0 3px 7px 0 rgba(86, 86, 86, 0.4);
}

/*----SocialMediaBottomStyle------*/
.SocialMediaButton {
    text-align: center;
    margin-top: 3%;
    }

.SocialMediaButton a {
    text-decoration: none;
}

.SocialMediaButton i {
    font-size: 170%;
}

.SocialMediaButton button {
    color: black;
    background: none;
    border: none;
    outline: none;
    gap: 3%;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.SocialMediaButton button:hover {
    color: #3c3c3c;
    transform: scale(1.3);
}

/*------------Home----------------*/

#HomeGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 8%;
    margin: 0 20%;
}
#HomeGrid img {
    width: 95%;
    display: block;
    margin: auto;
}

#HomeGrid h1 {
    font-size: 250%;
}

#HomeGrid h3 {
    text-align: left;
}

#HomeGrid p {
    margin: 2% 0;
}

#HomeButtonGrid {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    margin: 0 20%;
}

.blackButton button,
.whiteButton button {
    width: auto;
    min-width: 140px;
    padding: 1em 2em;
    margin-top: 15%;
}

.blackButton button {
    background: #000000;;
    color: white;
    border: black solid 0.08em;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.blackButton button:hover {
    background: #3c3c3c;
    transform: scale(1.01);
}

.whiteButton button {
    background: white;
    color: black;
    border: gray solid 0.08em;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.whiteButton button:hover {
    background: #3c3c3c;
    border: #3c3c3c solid 0.08em;
    color: white;
    transform: scale(1.01);
}

/*------------Position-------------*/
#PositionGrid h1{
    font-size: 250%;
    text-align: center;
    margin: 0 20% 0 20%;
}

#PositionBlockGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 2rem;
    margin-top: 5%;
    margin: 2% 20%;
}

.PositionBlock {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1em;
    padding: 10%;
}

.PositionBlock h3 {
    font-size: 150%;
}

.PositionBlock h4 {
    text-align: center;
}

/*------------OneClass-------------*/
#OneClassGrid {
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    margin: 0;
}

#OneClassGrid h2, h3,h4, h5 {
    text-align: center;
}

#OneClassGrid h2 {
    font-size: 250%;
}

#OneClassGrid p{
    text-align: left;
    padding: 0 0 3% 30%;
}

#OneClassGrid ul{
    padding: 0 0 3% 32%;
}

#OneClassGrid button {
    margin: 0 0 5% 30%;
}

.OneClassDetail {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 3%;
    margin-top: 5%;
}

/*------------SuppurtingExperience-------------*/

#SuppurtingGrid {
    background-color: rgb(230, 230, 230);
    margin: 0;
}

#SuppurtingGrid ul {
    padding: 3% 0 3% 10%;
    text-align: left;
    font-size: 80%;
}

#SuppurtingGrid h2 {
    margin: 5% 0 0 0;
    text-align: center;
}

.SupportingBlockGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 2rem;
    margin: 5% 20%;
}

.SupportingBlock {
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1em;
    padding: 10%;
    box-shadow: 0 2px 5px 0 rgba(86, 86, 86, 0.15);
}
.SupportingBlock h4 {
    text-align: left;
}

.SupportingBlock:hover {
    box-shadow: 2px 2px 5px 2px rgba(86, 86, 86, 0.2);
}

.SupportingBlock .whiteButton {
    text-align: left;
    margin-top: auto;
}

/*------------System-------------*/

#SystemGrid {
    margin: 2% 20% 0 20%;
}
#SystemGrid h2 {
    text-align: center;
}

#SystemGrid h4 {
    text-align: left;
}

#SystemGrid p {
    text-align: center;
    margin: 0 5%;
}

#SystemGrid ul {
    padding: 3% 0 3% 10%;
    text-align: left;
    font-size: 80%;
}

.SystemBlockGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 2rem;
    margin: 5%;
}

#SystemGrid .SystemBlockGrid p {
    text-align: left;
    margin: 0;
}

.SystemBlock {
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1em;
    padding: 10%;

    color: black;
    border: none;
    margin: 1% 0;
    border-radius: 1em;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(86, 86, 86, 0.15);
}

.SystemBlock:hover {
    box-shadow: 2px 2px 5px 2px rgba(86, 86, 86, 0.1);
}

.SystemBlock .whiteButton {
    text-align: left;
    margin-top: auto;
}
/*------------Strategy-------------*/

#strategyGrid {
    margin: 0 20% 2% 20%;
}

#strategyGrid h2, p{
    text-align: center;
}
#strategyGrid .whiteButton {
    text-align: center;
}

#strategyGrid .whiteButton  button {
    margin-top:3%;
}

/*------------About-------------*/
#AboutGrid {
    background-color: rgb(230, 230, 230);
    margin: 0;
}
#AboutGrid p{
    text-align: center;
    margin-top: 5%;
}

#AboutGrid .whiteButton {
    text-align: center;
}

#AboutGrid .whiteButton  button {
    margin:3% 0;
}

/*------------Contact-------------*/

#Contact {
    margin-top: 0;
}

#ContactMain {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 5%;
    margin: 0 20%;
}
#ContactMain p {
    text-align: justify;
}

form {
    width: 100%;
    box-sizing: border-box;
}

form label, input, textarea {
    display: block;
    margin-bottom: 1em;
}

form input, textarea {
    width: 100%;
    padding: 1em;
    border: none;
    background: #3c3c3c;
    border-radius: 1em;
    box-sizing: border-box;
}

form textarea {
    color: white;
    height: 12em;
    resize: none;
}

form button {
    width: 40%;
    margin: 0.5em 0 0 0;
    padding: 1em 1em;
    color: #3c3c3c;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

form button:hover {
    background: #4a4a4a;
    color: white;
}

/*------------Product-------------*/
.productRow {
    margin: 0 20%;
}

.productSquare {
    width: 100%;
    padding: 3%;
    color: black;
    border: none;
    margin: 1% 0;
    border-radius: 1em;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(86, 86, 86, 0.15);
}

.productSquare:hover {
    box-shadow: 2px 2px 5px 2px rgba(86, 86, 86, 0.1);
}

.productSquare h3, .productSquare p {
        text-align: left;
}

.productSquare p{
    text-align: justify;
}

.productDetail {
    margin: 0 20%;
    text-align: left;
}

.productDetail p{
    text-align: justify;
}

.productDetail img, video {
    width: 60%;      
    display: block;
    margin: 0 auto; 
              
}

.productDetail a:link,
.productDetail a:visited {
    color: black;
}

/*------------About---------------*/
.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 20%;
}
.aboutMe p {
    text-align: justify;
}
.tab-buttons {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
}

.tab-btn {
    font-family: "Playfair Display", serif;
    background: none;
    color: black;
    padding: 10px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.tab-btn.active {
    background: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

#map {
    height: 20em;
    margin-top: 20px;
    border-radius: 10px;
}

#map img {
    border-radius: 10px;
}

.bookShelf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.bookShelf img {    
    height: 15em;      
    width: 100%;     
    display: block;       
    object-fit: cover;   
    border-radius: 10px; 
}

/*----------About/ Running Slide-------------*/

.carousel {
  position: relative;  
  margin: auto;
  margin-top: 20px;
}

.carousel-window {
  overflow: hidden;     
  margin: 0 auto;
}

.carousel-track {
  display: flex;
}

.carousel-slide {   
  width: 50%;
  height: 15em; 
  object-fit: cover;
  margin: 0 10px;      
  flex-shrink: 0;
  border-radius: 10px;
}

/*----------About/ Table Tennis-------------*/
.tebleTennis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.tebleTennis img {
    height: 15em;   
    width: 100%;                 
    display: block;       
    object-fit: cover;   
    border-radius: 10px; 
}
    
/*--------Responsive Design-------*/
@media (max-width: 600px) {
    h1, h2, h3, h4 {
        text-align: center;
        margin: 5% 0;
        padding: 0;
    }
    .NavbarGrid {
        position: relative;
        grid-template-columns: 1fr auto;
        align-items: center;
        z-index: 9999;
        margin: 2% 5%;
    }
    .menu-toggle {
        display: block;
    }
    .NavButton {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10000;

        background: white;
        padding: 1em;
        gap: 0.5em;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);

        min-width: 180px;
    }
    .NavButton.active {
        display: flex;
    }
    .NavButton a button {
        width: 100%;
        text-align: left;
    }
    /*------------Home----------------*/
    p, li {
        font-size: 90%;
    }
    #HomeGrid {
        grid-template-columns: 1fr;
        margin: 0 5%;
        gap: 5%;
    }
    #HomeGrid img {
        width: 50%;
        display: block;
        margin: 0 auto 10%;
    }
    #HomeGrid h1 {
        font-size: 160%;
    }
    #HomeGrid h3 {
        text-align: center;
    }
    #HomeButtonGrid {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0;
    }
    .blackButton button,
    .whiteButton button {
        margin-top: 10%;
    }
    
    /*------------Position-------------*/
    #PositionGrid h1{
        font-size: 150%;
        margin: 0 5%;
    }

    #PositionBlockGrid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin: 5%;
    }
    .PositionBlock {
        margin: 0;
        padding: 5%;
    }
    .PositionBlock h3 {
        font-size: 120%;
    }

    /*------------OneClass-------------*/
    #OneClassGrid {
        text-align: center;
        margin: 0;
    }

    #OneClassGrid h3,h4, h5 {
        text-align: center;
        margin: 2% 5%;
    }

    #OneClassGrid p{
        text-align: center;
        padding: 0;
        margin: 2% 5%;
    }

    #OneClassGrid ul{
        font-size: 85%;
        padding: 3%  10%;
    }

    #OneClassGrid button {
        margin: 0 0 5% 0;
    }

    .OneClassDetail {
        display: grid;
        grid-template-columns: 1fr;
    }

    /*------------SuppurtingExperience-------------*/
    #SuppurtingGrid h2 {
        font-size: 120%;
        margin: 5%;
        
    }
    .SupportingBlockGrid {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin: 5% 10%;
    }

    .SupportingBlock {
        background-color: rgb(251, 251, 251);
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 1em;
        padding: 10%;
        text-align: center;
    }

    /*------------System-------------*/

    #SystemGrid {
        margin: 0 5%;
    }

    #SystemGrid h2 {
        font-size: 120%;
    }

    .SystemBlockGrid {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin: 5%;
    }
    .SystemBlock {
        text-align: center;
    }

    .SystemBlock h4 {
        margin: 2% 0;
    }

    .SystemBlock .whiteButton {
        text-align: center;
    }
    /*------------Strategy-------------*/

    #strategyGrid {
        margin: 0 5%;
    }

    #strategyGrid h2, p{
        margin: 2% 5%;
    }

    #strategyGrid .whiteButton  button {
        margin-bottom:5%;
    }

    /*------------About-------------*/
    #AboutGrid p {
        margin: 5% 10% 0 10%;
    }
    #AboutGrid .whiteButton  button {
        margin-bottom:5%;
    }
    footer {
        font-size: 80%;
    }
    #ContactMain {
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
        margin: 0 5%;
    }

    #ContactMain p {
        margin: 0;
    }
    form {
    margin-bottom: 2rem;
    }
    form button {
        width: 60%;
    }
    .productRow {
        margin:0;
    }
    .productRow p {
        margin: 0;
    }
    .productSquare {
        padding: 5%;
    }
    .Intro {
        margin: 0 5%;
    }
    .productDetail {
        margin: 0;
    }
    .productDetail ul {
        margin: 0 5%;
    }
    .aboutMe {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0;
    }
    .tab-buttons {
        justify-content: center;
        gap: 0px;
    }
    .tab-btn {
        padding: 8px;
        font-size: 0.7em;
    }
    .tab-btn.active {
        border-radius: 7px;
    }
    #map {
        height: 15em;
        margin-left: 5%;
        margin-right: 5%;
    }
    .bookShelf {
        gap: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .bookShelf img {    
        height: 10em;          
    }
    .bookShelf :first-child {
        display: none;
    }
    #running {
        margin-left: 5%;
        margin-right: 5%;
    }
    .carousel-slide {   
        width: 50%;
        height: 10em; 
        margin: 0 5px;
    }
    .tebleTennis {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    .tebleTennis img {
        height: 10em;              
    }
    .tebleTennis :first-child {
        display: none;
    }
}
@media (min-width: 601px) and (max-width: 1100px) {
    p, li {
        font-size: 95%;
    }
    .NavbarGrid {
        position: relative;
        grid-template-columns: 1fr auto;
        align-items: center;
        z-index: 9999;
        margin: 2% 10%;
    }
    .menu-toggle {
        display: block;
    }
    .NavButton {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10000;

        background: white;
        padding: 1em;
        gap: 0.5em;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);

        min-width: 180px;
    }
    .NavButton.active {
        display: flex;
    }

    .NavButton a button {
        width: 100%;
        text-align: left;
    }
    #HomeGrid {
        grid-template-columns: 3fr 1fr;
        margin: 0 10%;
        gap: 5%;
    }
    #HomeGrid h3 {
        font-size: 90%;
    }
    #HomeGrid img {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #HomeButtonGrid {
        margin: 0 10%;
    }
    #HomeButtonGrid button {
        margin: 5% 0;
    }
    #PositionGrid {
        margin: 3% 5%;
    }
    #PositionGrid h1{
        font-size: 180%;
        margin: 3% 5%;
    }
    #PositionBlockGrid {
        margin: 3% 5%;
    }
    #OneClassGrid h2 {
        margin: 2% 10%;
    }
    footer {
        font-size: 90%;
    }
    #ContactMain {
        margin: 0 10%;
    }
    .IconStyle_2_1 p {
        font-size: 80%;
    }
    form button {
        width: 60%;
    }
    .productRow {
        margin: 0;
    }
    .productSquare {
        width: 80%;
        padding: 4%;
        margin: 0 10% 3% 10%;
    }
    .Intro {
        margin: 0 10%;
    }
    .productDetail {
        margin: 0 10%;
    }
    .aboutMe {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .tab-buttons {
        justify-content: center;
        gap: 0px;
    }
    .tab-btn {
        padding: 12px;
        font-size: 1em;
    }
    .tab-btn.active {
        border-radius: 7px;
    }
    .bookShelf {
        display: flex;
        gap: 10px;
    }
    .carousel-slide {   
        width: 30%;
        height: 15em; 
    }
    .tebleTennis {
        grid-template-columns: repeat(2, 1fr);
    }
    .tebleTennis :first-child {
        display: block;
    }
}

/*------------Font----------------*/
.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
}
